body
{
	font-family: Verdana, Geneva, sans-serif;
	background-color: #e5eefc;
}
ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}
li a
{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover
{
	background-color: #6a7991;
}
li
{
	float: left;
}
h1
{
	text-align: center;
	font-size: 3.0em;
}
footer
{
	display: block;
	text-align: center;
	position: absolute;
	bottom: 0;
}
p.description
{
	font-size: 1.8em;
}
@media and (max-width 600px)
{
	body
	{
		text-align: center;
		align-content: center;
	}
}
a.link
{
	background-color: #333;
	color: white;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}
a.link:hover
{
	background-color: #6a7991;
}
.Translator
{
	text-align: center;
}
.translatorAppIcon
{
	text-align: center;
}
.AppStore
{
	text-align: center;
}
.RooMes
{
	text-align: center;
}
.roomesAppIcon
{
	text-align: center;
}
